.search_conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_conatiner h1 {
    margin-bottom: 16px;
}

.search_conatiner p {
    margin-bottom: 30px;
}

.nopost {
    text-align: center;
}